@import url('../../public/fonts/adam-script/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary-color: #03615F; /* primary color */
    --secondary-color: #C8B275; /* secondary color */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --primary-color: #03615F; /* Dark mode primary color */
        --secondary-color: #C8B275; /* Dark mode secondary color */
    }
}

html {
    background: linear-gradient(to right, #03615F15, white, #03615F15);
}

body {
    direction: rtl;
    font-weight: 300;
    font-size: 15pt;
}

@media (max-width: 768px) {
    body {
        font-size: 13pt;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12pt;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.adam-script-font {
    font-family: 'RTL-Adam Script', 'Tajawal', sans-serif;
    font-weight: lighter;
}

/*html {*/
/*    scroll-snap-type: y mandatory;*/
/*    scroll-behavior: smooth;*/
/*}*/

/*section {*/
/*    min-height: 100vh;*/
/*    !*width: 100vw;*!*/
/*    scroll-snap-align: start;*/
/*    overflow: hidden;*/
/*}*/